.section-title {
  margin-bottom: 16px;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.section-general {
  margin-bottom: 70px;
}

.page-header {
  margin-bottom: 70px;
}

/* Banner */
.banner-container {
  background-color: #fceeea;
  padding: 20px;
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
}

.banner-title {
  text-align: center;
  font-family: "Slabo 27px", serif;
  font-size: 60px;
}

.banner-subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 100;
}

.banner-text {
  text-align: center;
  font-size: 18px;
  height: 80px;
  overflow: hidden;
  width: 70%;
  margin: auto;
}

/* Products */

.products-content {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  height: 120px;
  font-size: 18px;
  font-weight: 400;
}

.product-image {
  width: 200px;
  margin-bottom: 10px;
}

.product-label {
  background-color: rgb(234, 222, 0);
  padding: 5px;
  position: absolute;
  color: white;
  border-radius: 10px;
  top: 10px;
  left: 10px;
}

.product-button {
  background: rgb(255, 134, 134);
  width: 75px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  border: none;
  transition: background-color 0.1s ease-in;
}

.product-button:hover {
  cursor: pointer;
  background-color: rgb(235, 134, 134);
}

.product-price {
  font-size: 18px;
  font-weight: bold;
}

/* Comanda */

.comanda {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb),
    url("https://www.usnews.com/cmsmedia/54/f7/4cec45bc41089966939e64a48f2f/robot.jpg");
}

.comanda-content {
  padding: 20px 16px;
}

.comanda-sides {
  display: flex;
  justify-content: space-between;
}

.comanda-imagine {
  width: 60%;
  max-width: 300px;
}

.comanda-text {
  font-weight: 200;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 40px;
  max-width: 600px;
}

.comanda-button {
  font-size: 18px;
  width: 150px;
  height: 40px;
  background: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease;
}

.comanda-button:hover {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}

/* Colaboratori */

.colaboratori-content {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.colaboratori-logo {
  width: 170px;
}

/* Media queries */

/* Mobile */

@media screen and (max-width: 576px) {
  /* Banner */
  .banner-text {
    height: 100%;
  }

  /* Products */
  .product-card {
    align-items: center;
  }

  .product-title {
    height: initial;
    margin-bottom: 20px;
    text-align: center;
  }

  .product-price {
    margin-bottom: 20px;
    display: block;
    text-align: center;
    font-size: 26px;
  }

  .product-footer {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .product-footer a {
    display: block;
    width: 80%;
    height: 30px;
  }

  .product-button {
    width: 100%;
    height: inherit;
  }

  /* Comanda */
  .comanda-sides {
    flex-direction: column-reverse;
  }

  .comanda-text {
    text-align: center;
  }

  .comanda-button {
    display: block;
    width: 80%;
    margin: auto;
  }

  .right-side {
    text-align: center;
  }

  .comanda-imagine {
    width: 50%;
    max-width: 120px;
  }
}
